/* -----RESET----- */

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* -----COMMON----- */
body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.container-small {
    width: 70%;
    margin: 20px auto 0 auto;
    

}

.section-title{
    font-size: 30px;
    
}

.text {
    font-size: 11px;
    padding-bottom: 10px;
}

.btn-large {
    font-size: 11px;
    background-color: #0160ff;
    color: white;
    padding: 6px;
    text-decoration: none;
    text-align: center;
}

.btn-large:hover {
    color: #61092b;
    transform: scale(1.10);
}

.white {
    background-color: white;
    text-decoration: none;
    color: black;
}

.white:hover {
    color: #0160ff;
}

.flex {
    display: flex;
}



/* -----HEADER----- */

header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}

nav {
    width: calc (100% / 2);
    display: flex;
    height: 100%;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;  
}   

/* header-menu-left */

nav img {
    width: 90%;
}

.header-menu-left ul, .header-menu-right ul {
    display: flex;
    list-style-type: none;
    
}

.header-menu-left li, .header-menu-right li{
    padding: 0 20px;
    font-size: 12px;
    font-weight: 500;  
}

.header-menu-left a{
    text-decoration: none;
    color: black;
}

.header-menu-right a{
    text-decoration: none;
    color: black;
        
}

#btn-small {
    background-color: #0160ff;
    color: white; 
    padding: 3px 8px;
}

#btn-small:hover {
    color: #61092b;

}

/* header menu right */

.header-menu-right ul {
    justify-content: flex-end;
}

.header-menu-right li {
    margin-right: 10px;
}

.header-items:hover {
    color: #0160ff;
    
}



/* -----MAIN----- */


/* -----jambotron----- */

.jambotron {
    height: 580px;
    background-color: #b3d0e7;
    
}

h1 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 56px;
}

.columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-small {
    width: 26%;

}

.col-small i {
    margin-top: 25px;
    font-size: 28px;
}

#withdrawal {
    font-size: 10px;
    margin: 10px 0;
}


.col-large {
    width: 68%;

}

.col-large img {
    width: 85%;
    margin-top: 20px;
}

/* -----section2----- */


.section-title.section2 {
    padding-top: 90px;
}


.type-of-billing {
    font-size: 11px;
    margin-top: 40px;
    
}

.type-of-billing span {
    padding: 0 8px;
}


.check-strong {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 3px solid #0160ff;
    border-radius: 50%;
    display: inline-block;
}

.check-light {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 50%;
    display: inline-block;

}

/* tipologia di offerte */

.offers-type {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;     
}

/* colonne dei prodotti */

.products {
    width: calc( (100% / 3) - 25px);
    border: 1px solid #e2e2e3;
}

/* tipologia di prodotto */
.single, .team{
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding: 8px 0;
    border-bottom: 1px solid #e2e2e3;
}

.typology {
    padding: 20px 0 50px 15px;
   
}

.typology h3 {
    padding: 10px 0;
    font-size: 17px;
}

.price {
    font-size: 12px;
    font-weight: 600;

}

.subtitle-price {
    font-size: 9px;
    margin-top: 10px;
    color: #87949f;
}

.features {
    margin-top: 40px;
    font-size: 10px;
}
.features ul {
    list-style-type: none;
    padding-bottom: 70px;
}

.features li {
    padding-top: 10px;
    
}

.features .btn-large{
    margin-right: 45px;
    text-align: center;
}

.shop {
    margin: 30px 0;
}

.shop a {
    color: #0160ff;
    padding-left: 3px;
}

.divider {
    width: 20%;
    color: #e2e2e3;
}


.hilights h4 {
    font-size: 11px;
    margin: 30px 0;
}

.hilights ul {
    list-style-type:none;
    font-size: 10px;
}

.hilights-list {
    padding: 8px 0;
    font-weight: 500;
}

.hilights .hilights-list::before {
    content: "\2713";
    color: blue;
    font-weight: 600;

}

.customized-products {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #e2e2e3;

    
}

.row-product {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.row-product h3{
    font-size: 17px;
}

.row-product .btn-large {
    width: 20%;
}

.quarto-prodotto-h3-subtitle {
    font-size: 10px;
    padding: 0 0 20px 20px;
    font-weight: 600;
}

.quarto-prodotto-slogan{
    padding: 0 0 20px 20px;
    font-size: 10px;

}

/* terza sezione */

.container-small.container-small.position-relative {
    margin-top: 50px;
    position: relative;

}

.container-small.container-small.position-relative .col-small{
    position: absolute;
    top: 80px;
    right: 80px;
}

.col-small  h3 {
    font-size: 17px;
}

.col-small p {
    margin: 20px 0;
    font-weight: 500;
}

.col-small .btn-large.white {
    color: black;
    background-color: white;
    border: 1px solid black;
    
    
}

/* -----quarta sezione----- */

.container-small .section-title {
    margin-top: 50px;
}

.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}


.grid-items {
    width: calc((100% / 3) - 20px);
    padding: 10px 10px 10px 0;
    margin-top: 30px;

}

.grid-items img {
    width: 80%;
   
}

.grid-items .text {
    margin-top: 20px;
}

.container-small .slogan-quarta-sezione {
    margin: 70px 0 30px 0;
    font-size: 35px;
}

.client-link {
    font-size: 10px;
    color: #0160ff;
}

/* -----quinta sezione----- */

.container-large {
    display: flex;

}

.col-quinta-sezione {
    width: calc(100% / 3);
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

}

.col-quinta-sezione img {
    width: 65%;

}

.square-client {
    width: calc(100% / 2);
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 25px;


}

.client-logo {
    padding: 20px;
    filter: invert(1);  
    position: relative; 
    z-index: 2;
}


/* COLONNA SX */

/* colonna sx quadrato in alto a sx */
.square-client.green{
    background-color: #a2d39b;
}


/* colonna sx quadrato in alto a dx */
.square-client.garnet{
    background-color: #61092b;
}

/* colonna sx quadrato in basso a sx */
.square-client.lightblue {
    background-color: #0093ce;
    
}

/* colonna sx quadrato in basso a dx */
.square-client.red {
    background-color: #ff1b1c;
}


/* -----COLONNA CENTRALE----- */

.col-quinta-sezione.centrale {
    background-color: #f5f5f5;
}

.colonna-centrale {
    width: 80%;
    margin: 10px auto 30px auto;
    
}
.colonna-centrale img{
    width: 38%; 
    filter: invert(0);
    
}

.colonna-centrale .text {
    padding: 50px 20px 0 20px;
    
}

/* -----COLONNA DESTRA----- */

/* colonna dx quadrato il alto a sx */
.square-client.pastel-red {
    background-color: #d4001f;
    
}

/* colonna dx quadrato in alto a dx */
.square-client.lightgray {
    background-color:  #b3d0e7;
  
}

/* colonna dx quadrato in basso a sx */
.square-client.blue {
    background-color:#0e2381;
   
}

/* colonna dx quadrato in basso a dx */

.square-client.yellow {
    background-color: #ffd72f;

}

/* porzione inferiore sezione5 */

.container-large.bcg-down {
    background-color: #b3d0e7;
    
}

.container-small.porzione-inferiore-section5 {
    display: flex;
    justify-content: space-between;
    padding: 70px; 
}

.container-small.porzione-inferiore-section5 h2 {
    color: #61092b;
    font-size: 30px;
}



.btn-large.white {
    background-color: #b3d0e7;
    
}

.btn-large.white .white {
    font-weight: 500;
    padding: 5px 20px;
}


/* -----sesta sezione----- */

#titolo-faq {
    padding: 70px;
}

.faq {
    width: 90%;
    padding-left: 70px;
    padding-bottom: 30px;
    
}

.faq-question.flex {
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}

/* -----FOOTER----- */
footer {
    background-color: black;
}

.container-large.bcg-footer {
    background-color: black;
    color: white;
}

.footer-columns {
    width: calc( (100% / 5) - 10px);
    justify-content: space-between;
    padding: 70px 0 50px 70px;
}

.footer-columns h4 {
    padding-bottom: 10px;
    font-size: 15px;
}

.dropbox-list  {
    list-style-type: none;
    padding: 5px 0;
    
}

.dropbox-items {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.dropbox-items:hover{
    color: #0093ce;
    
}

.footer-divider {
    color: #e2e2e3;
    margin: 10px 0 25px 70px;
    width: 10%;

}

.container-small .bottom-footer {
    margin: 0 auto;
    padding-left: 70px;    
} 

.bottom-footer {
    padding-right: 5px;
    font-size: 10px;
    color: white;
}











































